body{
    background-color: aqua;
}
h2{
    color: brown;
}
p{
    color: rgb(240, 19, 185);
    font-size: 25px;
}
span{
    color: rgb(239, 232, 10);
    font-size: 28px;
}
h4{
    font-size: 20px;
    color: rgb(58, 16, 245);
}